<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!-- Welcome to {{ title }}! -->
    {{name}}'s First Angular Project
  </h1>
  <img width="300" alt="Angular Logo" src="file:///C:/Users/normanl/OneDrive/Documents/LaunchCode/html-me-something/images/cairo.jpg"
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>{{itemList[0]}}</h2>
  </li>
  <li>
    <h2>{{itemList[1]}}</h2>
  </li>
  <li>
    <h3>{{itemList[2]}}</h3>
  </li>
</ul>

